<%
    let title = "記念祭";
    let class = "school-name";
    let list = vec![1,2,3];
%>
<html>
    <head>
        <title><%= title  %> </title>
    </head>
    <body>
        <%# TODO: ほげほげ %>
        <p class="<%= class %>"></p>
        <% for i in list { %>
            <p><%= i %></p>
        <% } %>
    </body>
</html>